<style>
  @media (max-width: 991px) {
    #manage-teachers-content {
      margin-left: 10px;
      margin-top: 25px;
    }
  }
</style>

<div id="manage-teachers-content" style="display: none">
  <% if (successMessage && successMessage.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= successMessage[0] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <h2>Manage Teachers</h2>
  <a
    href="#"
    onclick="changeNavItem(document.querySelector('.nav-link.active'), 'Dashboard')"
    >Back to Dashboard</a
  >
  <form class="form-inline mt-3">
    <label class="sr-only" for="">Search</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id=""
      name=""
      placeholder="Search"
    />
    <button type="button" class="btn btn-primary mb-2" id="">Search</button>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Full name</th>
            <th>Sex</th>
            <th>Class</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% teachers.forEach(teacher => { %>
          <tr>
            <td><%= teacher.teacherID %></td>
            <td><%= `${teacher.firstName} ${teacher.lastName}` %></td>
            <td><%= teacher.sex %></td>
            <td><%= teacher.teacherClass %></td>
            <td><%= teacher.phoneNumber %></td>
            <td>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">View</button>
                <button class="btn btn-warning ml-2">Edit</button>
                <form
                  method="POST"
                  action="/delete-teacher/<%= teacher.teacherID %>"
                  onsubmit="return confirm('Are you sure you want to delete this teacher?');"
                >
                  <button class="btn btn-danger ml-2">Delete</button>
                </form>
              </div>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </form>
</div>
