<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Ranking</title>
    <style>
      @media print {
        #print-button {
          display: none;
        }
        .menu-bar {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div
      class="container-fluid"
      id="student-ranking-content"
      style="display: none"
    >
      <div class="container mt-5">
        <h2>Student Ranking</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Position</th>
                <th>Full Name</th>
                <th>Math</th>
                <th>Eng</th>
                <th>Kisw</th>
                <th>Sci</th>
                <th>Comp</th>
                <th>French</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% if (populatedStudents && populatedStudents.length > 0) { %> <%
              // Sort populatedStudents based on totalGrade
              populatedStudents.sort((a, b) => b.grades.reduce((acc, curr) =>
              acc + (curr.totalGrade || 0), 0) - a.grades.reduce((acc, curr) =>
              acc + (curr.totalGrade || 0), 0)); // Render the sorted
              populatedStudents populatedStudents.forEach((populatedStudent,
              index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td>
                  <% if (populatedStudent && populatedStudent.firstName &&
                  populatedStudent.lastName) { %> <%= populatedStudent.firstName
                  %> <%= populatedStudent.lastName %> <% } else { %> N/A <% } %>
                </td>
                <% if (populatedStudent && populatedStudent.grades &&
                populatedStudent.grades.length > 0) { %> <%
                populatedStudent.grades.forEach((grade) => { %>
                <td><%= grade.mathGrade || 'N/A' %></td>
                <td><%= grade.englishGrade || 'N/A' %></td>
                <td><%= grade.kiswahiliGrade || 'N/A' %></td>
                <td><%= grade.scienceGrade || 'N/A' %></td>
                <td><%= grade.computerGrade || 'N/A' %></td>
                <td><%= grade.frenchGrade || 'N/A' %></td>
                <td><%= grade.totalGrade || 'N/A' %></td>
                <% }); %> <% } else { %>
                <td colspan="8">No grades available</td>
                <% } %>
              </tr>
              <% }); %> <% } else { %>
              <tr>
                <td colspan="9">No students available</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <button id="print-button" onclick="window.print()">
        <i class="fas fa-print"></i> Print Table
      </button>
    </div>
  </body>
</html>
