<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f8f9fa;
      }

      .sidebar {
        background-color: #800080 !important;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        z-index: 1;
        transition: left 0.3s ease;
      }

      .sidebar-sticky {
        padding-top: 20px;
      }

      .sidebar a {
        color: #fff;
        text-decoration: none;
      }
      .sidebar a:hover {
        background-color: transparent;
        color: #fff;
      }

      .nav-link.active {
        background-color: #512da8;
      }

      .menu-bar {
        background-color: #800080;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 10px;
      }

      .menu-bar .logo-container {
        display: flex;
        align-items: center;
      }

      .star {
        font-size: 24px;
        color: gold;
      }

      .logo-text {
        font-size: 24px;
        font-weight: bold;
      }

      .blue-text {
        color: #007bff;
      }

      .menu-bar .toggle-btn {
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      @media (max-width: 768px) {
        .sidebar {
          left: -250px;
        }

        .menu-bar .toggle-btn {
          display: block;
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .logo-text {
          color: #fff;
        }
        .star {
          font-size: 24px;
          color: gold;
        }

        .logo-text {
          font-size: 24px;
          font-weight: bold;
        }

        .blue-text {
          color: #007bff;
        }
      }
      @media (min-width: 768px) {
        .sidebar {
          left: 0;
          padding-right: 10px;
          width: 250px;
        }
        .sidebar-sticky {
          display: block;
        }

        .menu-bar .toggle-btn {
          display: none;
        }
        .menu-bar {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <nav class="menu-bar">
      <div class="logo-container">
        <a class="navbar-brand" href="#">
          <i class="fas fa-star star"></i>
          <span class="logo-text"
            >Star<span class="blue-text">light</span></span
          >
        </a>
      </div>
      <button class="toggle-btn" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
    </nav>

    <!-- Sidebar -->
    <nav id="sidebar" class="sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" style="cursor: pointer">
          <a class="navbar-brand" href="#">
            <div class="logo-container">
              <i class="fas fa-star star"></i>
              <span class="logo-text"
                >Star<span class="blue-text">light</span></span
              >
            </div>
          </a>
          <li class="nav-item">
            <a
              class="nav-link active"
              style="margin-top: 65px"
              href="#"
              onclick="changeNavItem(this, 'Dashboard')"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              onclick="changeNavItem(this, 'My Students')"
              >My Students</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="changeNavItem(this, 'Grade')"
              >Grade</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              onclick="changeNavItem(this, 'Student Ranking')"
              >Student Ranking</a
            >
          </li>
        </ul>
        <ul class="nav flex-column mt-3">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              onclick="changeNavItem(this, 'Account')"
              >My Account</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"> Logout </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <% if (success_msg && success_msg.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg[0] %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %> <% if (error_msg && error_msg.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error_msg[0] %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <div id="content">
        <!-- Teacher Dashboard  section -->
        <%- include('./partials/teacherDash-content.ejs', { teacher: teacher })
        %>

        <!--My students section-->
        <%- include('./partials/myStudents.ejs', { students, teacher }) %>

        <!--Grading section-->
        <%- include('./partials/grade.ejs') %>

        <!--Student ranking content-->
        <%- include('./partials/student-ranking.ejs', { populatedStudents:
        populatedStudents }) %>

        <!--Teacher Profile Section-->
        <%- include('./partials/teacherProfile.ejs') %>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
      function toggleSidebar() {
        const sidebar = document.getElementById("sidebar");
        sidebar.style.left = sidebar.style.left === "0px" ? "-250px" : "0px";
      }
      function changeNavItem(element, title) {
        document.querySelectorAll(".nav-link").forEach((navItem) => {
          navItem.classList.remove("active");
        });

        element.classList.add("active");

        document.getElementById("dashboard-title").innerText = title;

        document.getElementById("dashboard-content").style.display = "none";
        document.getElementById("my-students-content").style.display = "none";
        document.getElementById("grade-content").style.display = "none";

        const profileContent = document.getElementById("profile-content");
        const studentRanking = document.getElementById(
          "student-ranking-content"
        );
        if (profileContent) {
          profileContent.style.display = "none";
        }

        if (studentRanking) {
          studentRanking.style.display = "none";
        }

        if (title === "Dashboard") {
          document.getElementById("dashboard-content").style.display = "block";
        } else if (title === "My Students") {
          document.getElementById("my-students-content").style.display =
            "block";
        } else if (title === "Grade") {
          document.getElementById("grade-content").style.display = "block";
        } else if (title == "Account") {
          if (profileContent) {
            profileContent.style.display = "block";
          }
        } else if (title == "Student Ranking") {
          if (studentRanking) {
            studentRanking.style.display = "block";
          }
        }
      }
    </script>
  </body>
</html>
